* {
    box-sizing: border-box;
}

:root {
    --brown: rgb(128, 78, 37);
    --darkbrown: rgb(48, 30, 27);
    --mainBackground: rgb(235, 230, 224);
    --mainBackgroundDark: rgb(223, 211, 200);
    --green: rgb(193, 206, 185);
    font-family: sans-serif;
}

em {
    font-style: italic;
}

strong {
    font-weight: bolder;
}

p {
    font-size: 20px;
}

hr {
    border: none;
    border-top: var(--brown) solid 2px;
}

.brown-hr {
    border-top: var(--brown) solid 2px;
    width: 90%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

.half-opacity {
    opacity: .75;
}

.center-x {
    text-align:center;
}

