body {
    background-image: url("https://www.nps.gov/piro/learn/nature/images/DeepForest_1.JPG");
    background-size: 100%;
}

#content {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(41,36,32, .75);
}

main {
    padding: 40px 25px;
    border-radius: 15px;
    color: var(--brown);
    min-height: 100%;
}

main, footer {
    background: var(--mainBackground);
}

main, header, footer {
    margin: 15px auto;
    width: 85%;
}

hr {
    border-color: var(--mainBackground);
    opacity: .5;
    width: 70%;
    margin: 15px auto;
}

header {
    display: flex;
    justify-content: center;
    text-align:center;    
    align-items:center;
    height: 80px;
    padding: 15px;
    background: linear-gradient(to right, rgb(0,0,0,0),  rgb(41,36,32, .85) 20%, rgb(41,36,32, .85) 80% , rgb(0,0,0,0) 100%);
}

header h1, header p {
    padding: 5px 10px;
    color: var(--mainBackground);
    display: inline-block;
}

header h1 {
    border-right: var(--mainBackground) solid 1px;
    margin-right: 5px;
    font-size: 45px;
}

header p {
    font-size: 26px;
}

nav {
    display:flex;
    align-items:center;
    justify-content: center;
    background: var(--brown);
    border-radius: 50px;
    border: var(--darkbrown) solid 2px;

    width: 85%;
    margin: 0 auto;
    color: var(--mainBackground);
}

.tab {
    text-align:center;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
    width: 20%;
    color: var(--mainBackground);
    transition: transform .15s;
}

.tab:not(.active):hover {
    transform: scale(1.2);
    color: white;
}

/* .tab:not(#contact) {
    border-right: var(--mainBackground) dotted 1px;
} */

.active {
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 0 3px 5px var(--darkbrown);
    color: white;
}

footer {
    color: var(--mainBackground);
    background: none;
    padding: 15px;
    text-align:center;
}