#contact {
    position: relative;
}

#contact section {
    width: 220px;
}

#contact section, #contact form {
    display: inline-block;
}

#contact form {
    position: absolute;
    left: 220px;
    right: 0px;
    /* width: 70%; */
}

form input, form textarea {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    display: block;
    background: var(--mainBackgroundDark);
    border: none;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

form input::placeholder, form textarea::placeholder {
    color: var(--mainBackground);
} 

form textarea {
    height: 10em;
    resize: vertical;
}

form button {
    cursor: pointer;
    background: var(--brown);
    color: white;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    padding: 5px;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    #contact section, #contact form {
        position: relative;
        transform: none;
        left: initial;
        top: initial;
        display: block;
        width: 100%;
    }

    #contact section {
        margin-bottom: 2em;
    }
}